:root {
    /* Font family */
    --ff-sans: "Barlow", sans-serif;
    --ff-sans-condensed: "Barlow Condensed", sans-serif;
    --ff-serif: "Bellefair", serif;
    /* Font sizes */
    --fs-sm: 0.875rem;
    --fs-base: 1rem;
    --fs-lg: 1.125rem;
    --fs-xl: 1.75rem;
    --fs-2xl: 2rem;
    --fs-3xl: 3.5rem;
    --fs-4xl: 5rem;
    --fs-5xl: 6.25rem;
    --fs-6xl: 9.375rem;

    /* Colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;
}

/* General */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font: inherit;
}


html {
    font-size: 16px;
}

body {
    font-family: var(--ff-sans);
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 1.5;
    color: hsl(var(--clr-white));
}

h1,
h2 {
    line-height: 1.2;
}

img,
svg {
    display: block;
    max-width: 100%;
    object-fit: contain;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background-color: transparent;
}

/* UTILITIES */
/* Layout */
.flex {
    display: flex;
}

.grid {
    display: grid;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justtify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.mx-auto {
    margin-inline: auto;
}

.text-center {
    text-align: center;
}

/* Colors */
.bg-dark {
    background-color: hsl(var(--clr-dark));
}

.bg-light {
    background-color: hsl(var(--clr-light));
}

.bg-white {
    background-color: hsl(var(--clr-white));
}

.text-dark {
    color: hsl(var(--clr-dark));
}

.text-light {
    color: hsl(var(--clr-light));
}

.text-white {
    color: hsl(var(--clr-white));
}

/* Typography */
.ff-sans {
    font-family: var(--ff-sans);
}

.ff-sans-condensed {
    font-family: var(--ff-sans-condensed);
}

.ff-serif {
    font-family: var(--ff-serif);
}

.letter-spacing-1 {
    letter-spacing: 4.5px;
}

.letter-spacing-2 {
    letter-spacing: 2.35px;
}

.letter-spacing-3 {
    letter-spacing: 2.7px;
}

.uppercase {
    text-transform: uppercase;
}

.fs-base {
    font-size: var(--fs-base);
}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-xl {
    font-size: var(--fs-xl);
}

.fs-2xl {
    font-size: var(--fs-2xl);
}

.fs-3xl {
    font-size: var(--fs-3xl);
}

.fs-4xl {
    font-size: var(--fs-4xl);
}

.fs-5xl {
    font-size: var(--fs-5xl);
}

.fs-6xl {
    font-size: var(--fs-6xl);
}