---
import BaseLayout from "../layouts/BaseLayout.astro";
import LandingPageMainButton from "../components/LandingPageMainButton.astro";
import Header from "../components/Header.astro";
---

<BaseLayout>
  <body>
    <Header />
    <main>
      <section>
        <span>So, you want to travel to</span>
        <h1>Space</h1>
        <p>
          Let’s face it; if you want to go to space, you might as well genuinely
          go to outer space and not hover kind of on the edge of it. Well sit
          back, and relax because we’ll give you a truly out of this world
          experience!
        </p>
      </section>
      <LandingPageMainButton />
    </main>
  </body>
</BaseLayout>

<style>
  body {
    background-image: url("../assets/home/background-home-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    padding-block: 2rem;
    /* gap: 5.5rem; */
  }
  main section {
    width: 86%;
    max-width: 450px;
    margin-inline: auto;
    display: grid;
    gap: 1rem;
    text-align: center;
    /* margin-block-start: -1.5rem; */
  }
  main section > span {
    font-family: var(--ff-sans-condensed);
    font-size: var(--fs-base);
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: hsl(var(--clr-light));
  }
  h1 {
    font-size: 5rem;
    text-transform: uppercase;
    font-family: var(--ff-serif);
  }
  main section > p {
    font-size: 0.938rem;
    color: hsl(var(--clr-light));
  }

  @media (min-width: 48em) {
    body {
      background-image: url("../assets/home/background-home-tablet.jpg");
    }
    main {
      gap: 5rem;
      justify-content: space-around;
    }
    main section > span {
      font-size: var(--fs-xl);
      letter-spacing: 3.38px;
    }
    h1 {
      font-size: 9.375rem;
    }
    main section > p {
      font-size: var(--fs-base);
    }
  }

  @media (min-width: 64em) {
    body {
      background-image: url("../assets/home/background-home-desktop.jpg");
    }
    main {
      flex-direction: row;
      align-items: center;
    }
    main section {
      text-align: start;
    }
    main section > span {
      font-size: 1.75rem;
      letter-spacing: 4.72px;
    }
    main section > p {
      font-size: var(--fs-lg);
    }
  }
</style>
