---
import { Image } from "astro:assets";
import logo from "../assets/shared/logo.svg";
import hamburger from "../assets/shared/icon-hamburger.svg";
---

<header>
  <div class="wrapper flex mx-auto ff-sans-condensed">
    <a href=""><Image src={logo} alt="Logo" /></a>
    <nav>
      <button class="hamburger">
        <Image src={hamburger} alt="hamburger menu icon" />
      </button>
      <div class="nav-links">
        <a class="nav-link" href="">
          <span class="nav-link-number">00</span>
          <span class="uppercase">Home</span>
        </a>
        <a class="nav-link" href="">
          <span class="nav-link-number">01</span>
          <span class="uppercase">Destination</span>
        </a>
        <a class="nav-link" href="">
          <span class="nav-link-number">02</span>
          <span class="uppercase">Crew</span>
        </a>
        <a class="nav-link" href="">
          <span class="nav-link-number">03</span>
          <span class="uppercase">Technology</span>
        </a>
      </div>
    </nav>
  </div>
</header>

<style>
  header .wrapper {
    width: 86%;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    padding: 2rem 0;
  }

  .nav-links {
    display: none;
  }

  @media (min-width: 48em) {
    header .wrapper {
      width: 95%;
      margin-inline: auto 0;
    }
    .hamburger {
      display: none;
    }
    nav {
      padding: 2.5rem 2.5rem;
      background-color: hsl(var(--clr-white) / 0.04);
    }
    .nav-links {
      display: flex;
      gap: 3rem;
      font-size: var(--fs-sm);
    }
    .nav-link-number {
      display: none;
    }
    .nav-link > span {
      letter-spacing: 2.36px;
    }
  }
  @media (min-width: 64em) {
    header .wrapper {
      margin-top: 2.5rem;
    }
    nav {
      padding-inline-start: 9.5rem;
      padding-inline-end: 10rem;
    }
    .nav-links {
      font-size: var(--fs-base);
    }
    .nav-link {
      display: flex;
      gap: 0.5rem;
    }
    .nav-link-number {
      display: block;
    }
    .nav-link > span {
      letter-spacing: 2.7px;
    }
  }
</style>
