<a href="#" class="uppercase ff-serif bg-white text-dark landing-main-btn">
  Explore
</a>

<style>
  .landing-main-btn {
    width: 150px;
    height: 150px;
    letter-spacing: 1.25px;
    border-radius: 50%;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 48em) {
    .landing-main-btn {
      width: 242px;
      height: 242px;
      letter-spacing: 2px;
      font-size: var(--fs-2xl);
    }
  }
</style>
