<a href="#" class="uppercase ff-serif bg-white text-dark landing-main-btn">
  Explore
</a>

<style>
  .landing-main-btn {
    width: 150px;
    height: 150px;
    letter-spacing: 1.25px;
    border-radius: 50%;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
